body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
li {
  list-style-type : none;
}
a {
  text-decoration: none;
  color: rgba(34, 34, 34, 0.75);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
/* Navigation */
.nav-header-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  align-items: center;
}
.logo{
  display: flex;
}
#logo-text {
  padding-left: 10px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}
.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
#active {
  color: #DAA520;
  font-weight: 800;
}
#button {
  padding: 9px 36px;
  border: 1px solid #3E3F43;
  border-radius: 8px;
}

/* header title */
.header-title-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  position: relative;
}
.header-text {

}
#sup-title{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
}
#title{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
}
.header-figure{
  position: absolute;
  right: 0;
  top: 0;
  width: 370px;
  height: 800px;
  background: #F9BDBD;
  z-index: -2;
  border-bottom-left-radius: 150px;
}
.flower {
  position: absolute;
  right: 0;
  top: 0;
  width: 370px;
  height: 800px;
  background: #F9BDBD;
  z-index: -1;
}